@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
}

body{
    background: url(./icons/background.jpg);
    background-size:cover ;
}


.navbar{
    display: flex;
    justify-content: space-between;
    
}


.company-name img{
    height: 190px;
    width: 190px;
    position: relative;
    right: 35px;
    bottom: 40px;
}


.options{
    /* border: 2px solid black; */
    height: 8vh;
    width: 55vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
    margin-right: 20px;
}

.beforehover{
    border: 2px solid rgba(255, 255, 255, 0.623);
    border-radius: 20px;
    color: white;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(137, 43, 226, 0.508);
    backdrop-filter: blur(8px);
    cursor:pointer;
    transition: transform 0.3s ease-in-out;
}

.afterhover{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(233, 3, 233, 0.758);
    color: rgba(1, 1, 1, 0.789);
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.819);
    backdrop-filter: blur(8px);
    cursor:pointer;
    transform:scale(1.15);
    transition: .3s ease-in-out;
}

.accountoptions{
   
    height: 8vh;
    width: 20vw;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 23px;
    margin-right: 20px;
}

.signup{
    margin-left:10px;
}

.beforehoveraccountoptions{
    border: 2px solid rgba(255, 255, 255, 0.623);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.138);
    backdrop-filter: blur(10px);
    cursor:pointer;
    transition: transform 0.3s ease-in-out;

}



.afterhoveraccountoptions{
    border: 2px solid rgba(255, 255, 255, 0.556);
    box-shadow: 4px 4px 10px rgb(113, 4, 113);
    color: rgb(255, 255, 255);
    background-color: rgba(255, 0, 247, 0.819);
    backdrop-filter: blur(8px);
   
    transform:scale(1.15);
    transition: .3s ease-in-out;
}

